main {
    margin: 0 0.5rem;
}

main p {
    margin: 1rem 0;
}

main ul {
    margin-left: 1.125rem;
}

main li {
    margin: 0.3rem 0;
}

h2 {
    color: rgb(150, 0, 0);
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
}

@media (min-width: 576px) {
    main {
        margin: 0 auto;
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    main {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        margin: 0 1rem;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    main {
        margin: 0 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }
}